.container {
    width: 80%;
    margin: 0 auto;
}

#titolo {
    font-size: 25px;
}

.generiContainer {
    display: inline-block;
    position: absolute;
    width: 20%;
}

#listaGeneri {
    padding: 0;
    list-style-type: none;
    cursor: pointer;
}

li {
    padding-bottom: 10px;
    transition: font 0.5s;
}

li:hover {
    font-size: 20px;
}

#roundTop {
    position: absolute;
    width: 40px;
    height: 40px;
    border-top: solid black;
    border-left: solid black;
    border-width: 3px;
    border-top-left-radius: 4px;
    transition: width 0.5s, height 0.5s;
}

#roundBottom {
    position: absolute;
    width: 40px;
    height: 40px;
    border-bottom: solid black;
    border-right: solid black;
    border-width: 3px;
    border-bottom-right-radius: 4px;
    bottom: 0;
    right: 0;
    transition: width 0.5s, height 0.5s;
}

.giochiContainer {
    display: inline-block;
    width: 100%;
}

.giocoContainer {
    width: 600px;
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.giocoContainer:hover #roundBottom {
    width: 50%;
    height: 50%;
}

.giocoContainer:hover #roundTop {
    width: 50%;
    height: 50%;
}

.one {
    grid-column: 1;
    grid-row: 1;
}

.two {
    grid-column: 2;
    grid-row: 1;
}

#specs {
    text-align: center;
}

#copertina {
    display: block;
    margin: auto;
    height: 360px;
    box-shadow: 17px -1px 49px -5px rgba(171, 166, 171, 1);
}

#prezzo {
    padding-top: 30px;
    font-size: 20px;
}

#ctaDetail {
    width: 100px;
    background-color: transparent;
    border: solid #DA1A35;
    border-radius: 4px;
    font-style: bold;
    cursor: pointer;
}

#ctaDetail:hover {
    background-color: black;
    color: white;
}