<div class="container">

    <div id="generiContainer">
        <label>Generi</label>
        <!-- <select [(ngModel)]="filtro">
            <option *ngFor="let genere of generi" value="{{genere.id}}">{{genere.name}}</option>
        </select> -->
        <ul id="listaGeneri">
            <li *ngFor="let genere of generi" (click)="filterValue(genere.id)">{{genere.name}}</li>
        </ul>
    </div>

    <div class="giochiContainer">
        <ng-container *ngFor="let item of items; let i=index">
            <ng-container *ngIf="item.genere.id == filtro || filtro == 0">
                <div class="giocoContainer">
                    <div id="roundTop"></div>
                    <div class="one" id="specs">
                        <p id="info">{{item.name}}</p>
                        <p id="info">{{item.genere.name}}</p>
                        <p id="info">{{item.rating}} &#9733;</p>
                        <p id="info">{{item.annoUscita}}</p>
                        <p id="prezzo"> {{item.prezzo | currency:'EUR'}} </p>
                        <button id="ctaDetail" (click)="visualizzaDettaglio(item)">Details >></button>
                    </div>
                    <div class="two">
                        <img id="copertina" src="{{item.immagine}}">
                    </div>
                    <div id="roundBottom"></div>
                </div>
            </ng-container>
        </ng-container>
    </div>

</div>