filtro per generi
<select [(ngModel)]="filtro">
        <option value="genere.name" *ngFor="let genere of generi">{{gener2.nome}}</option>
</select>

<ng-container *ngFor="let item of items; let i=index" (click)="visualizzaDettaglio(item)">
    <ng-container *ngIf="item.genere === filtro || filtro ==='tutti'">
        <div>id: {{item.id}}</div>
        <div>name: {{item.name}}</div>
        <div>descrizione: {{item.descrizione}}</div>
        <div *ngIf="i!=items.length-1">-------------------</div>
    </ng-container>
</ng-container>