<div class="contenitore">
    <div class="testa"><input [(ngModel)]="inputGame" class="InputIn" /></div>
    <div class="corpo">
        <ng-container *ngIf="outputGame != undefined">
            <input [(ngModel)]="outputGame.name" class="InputIn" />
            <input [(ngModel)]="outputGame.descrizione" class="InputIn" />
            <input [(ngModel)]="outputGame.rating" class="InputIn" />
        </ng-container>
    </div>
    <div class="fondo">
        <button (click)="ricerca()" class="out">Ricerca</button>
        <button name="reset" class="out">modifica</button>
    </div>
</div>